.done {
    background-color: mintcream;
    text-decoration: line-through;
    color: green;

}

body {
    background-color: rgb(70, 69, 69);
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
    text-align: center;

}

#addtask {
    background-color:darkcyan;
    text-align: center;
}

#taskTable {
    text-align: center;

}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkcyan;
    color: white;
  }
  tbody {
    background-color:darkcyan;
  }